.txt-green {
	color: green;
}

.txt-red {
	color: red;
}

.destacados {
	padding: 2px 0;
	text-align: center;
}

.destacados>div>div {
	padding: 2px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}

.destacados>.boxWidth:hover>div {
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}

ul.pagination li {
	padding: 0px !important;
}

.dashboard-cards {
	padding: 15px 0px;
}

#wait {
	width: 200px;
	height: 230px;
	text-align: center;
	position: fixed;
	left: 280px;
	right: 0;
	top: 40%;
	z-index: 99;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.85);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.43);
	display: none;
}

#wait img {
	width: 100%;
}

.bg-danger {
	background-color: #dc3545 !important;
}

.bg-warning {
	background-color: #ffc107 !important;
}

.bg-voilet {
	background-color: #ad64a7 !important;
}

.bg-wait {
	background-color: #43b9cc !important;
}

.bg-success {
	background-color: #28a745 !important;
}

.dashboard-cards {
	padding: 15px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    overflow: hidden;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	background: rgb(81,169,212);
	background: -moz-linear-gradient(125deg, rgba(81,169,212,1) 0%, rgba(31,77,99,1) 100%);
	background: -webkit-linear-gradient(125deg, rgba(81,169,212,1) 0%, rgba(31,77,99,1) 100%);
	background: linear-gradient(125deg, rgba(81,169,212,1) 0%, rgba(31,77,99,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#51a9d4",endColorstr="#1f4d63",GradientType=1);
}
.card.grey {
	background: rgb(130,130,130);
	background: -moz-linear-gradient(125deg, rgba(130,130,130,1) 0%, rgba(34,45,50,1) 100%);
	background: -webkit-linear-gradient(125deg, rgba(130,130,130,1) 0%, rgba(34,45,50,1) 100%);
	background: linear-gradient(125deg, rgba(130,130,130,1) 0%, rgba(34,45,50,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#828282",endColorstr="#222d32",GradientType=1);
}

.card-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, .03);
	border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
	min-height: 88px;
}

.card-body-icon {
	position: absolute;
	z-index: 0;
	top: 0;
	right: -1rem;
	opacity: 0.15;
	font-size: 8rem;
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
	color: #fff;
}

.card-body .label {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);
    font-size: 12px;
    padding: 0;
    white-space: normal;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}
.card-body .label > span {
	display: block;
    font-size: 20px;
    margin-top: 10px;
    color: #ffe689;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
    text-transform: none;
}

.card-footer {
	padding: .45rem 1rem;
	background-color: rgba(0, 0, 0, .03);
	border-top: 1px solid rgba(0, 0, 0, .125);
	color: #fff;
}

.card-footer:hover,
.card-footer:active,
.card-footer:focus {
	text-decoration: none;
	color: #fff;
	background: rgba(0, 0, 0, 0.15);
}

.card-footer:last-child {
	border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card-footer .float-left {
	font-weight: bold;
	font-size: 16px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);
}

.float-right {
	float: right !important;
	margin-top: 5px;
}
.card-footer span {
	display: block;
	font-size: 14px;
	overflow: hidden;
}
.card-footer span i {
	float: right;
	font-size: 18px;
}

.small,
small {
	font-size: 80%;
	font-weight: 400;
}
.bg-white {
	background: #fff;
}

footer {
	font-size: 12px;
}
.breadcrumb {
	background: #fafafa;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0;
    border-radius: 0;
    font-size: 12px;
    padding: 0px 5px;
}
.breadcrumb a {
	padding: 8px;
    color: #3c8dbc;
    display: inline-block;
}
.breadcrumb a.active {
	color: #a5a5a5;
	cursor: default;
}
#main_datagrid {
	margin-bottom: 20px;
}
.filter-date {
	border-bottom: 1px solid #f1f1f1;
    padding-bottom: 5px;
}
.filter-date input {
	border: 0;
	color: #222d32;
	background: transparent;
    outline: 0;
    font-weight: bold;
    padding: 0 10px 0 20px;
    margin-left: -17px;
    display: inline-block;
	width: 120px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}
.filter-date .fa-calendar {
	position: relative;
	z-index: 1;
}
.filter-date .fa-chevron-down {
	font-weight: normal;
    font-size: 10px;
    vertical-align: top;
	margin-top: 4px;
	position: relative;
	z-index: 1;
	margin-left: -20px;
}

@media (min-width : 992px) {
	.dashboard-cards .col-md-2 {
		width: 20%;
	}
}

.load_container {
    background: rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
}
.load_container .loader {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
}