.container {
    position:fixed;
    max-width: 320px;
    width: 100%;
}

.select-btn {
    display: flex;
    height: 34px;
    width: 100% !important;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    /* border-radius: 0px; */
    cursor: pointer;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.902); */
    border: 1px solid #ccc;
    background: #fff;
    color: #555;
}

.date-btn {
    display: flex;
    height: 19px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 0px;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.902);
    /* border: 1 solid #333; */
}

.select-btn .btn-text {
    font-size: 13px;
    font-weight: 400;
    padding: 10px, 10px, 10px, 10px;
    color: #333;
}

.select-btn .arrow-dwn {
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 11px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background-color: #6e93f7;
}

.select-btn.open .arrow-dwn {
    transform: rotate(-180deg);
}

.select-btn.open ~ .list-items {
    display: block;
    width: 300px;
}

.list-items {
    position: relative;
    margin-top: 8px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgb( 0,0,0, 0.1);
    display: none;
}

.list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 8px;
    border-radius: 8px;
}

.list-items .item:hover {
    background-color: #ede7fe;
}

.item .item-text {
    font-size: 14px;
    font-weight: 400px;
    color: #333;
    height: 20px;
    cursor: pointer;
}

.wrapper_chkbox {
    max-height: 16px;
    /* max-width: 16px; */
    padding:5px;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;

}

.item.checked .checkbox {
    background-color: #4070f4;
    border-color: #4070f4;;
}

.item.doc-type-checked .checkbox {
    background-color: #4070f4;
    border-color: #4070f4;;
}

.checkbox .check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.checkbox .doc-type-check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
}

.item.doc-type-checked .doc-type-check-icon {
    transform: scale(1);
}