body {
    /* font-family: "Helvetica Neue", Helvetica, Arial; */
    font-size: 12px;
    line-height: 16px;
    font-weight: 200;
    /* color: #3b3b3b; */
    -webkit-font-smoothing: antialiased;
    /* font-smoothing: antialiased; */
    background: #fff !important;
  }
  @media screen and (max-width: 580px) {
    body {
      font-size: 16px;
      line-height: 22px;
    }
  }
  
  .error-message {
    color: red;
    font-size: 16px;
  }

  .wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
  }
  
  /* .table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    overflow-y: auto;
  } */

  .filter-table {
    margin: 0 0 0 0;
    width: 100%;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
    background: #f6f6f6;
    display: table;
    overflow-y: auto;
    height: 100px;
  }

  @media screen and (max-width: 580px) {
    .table {
      display: block;
    }
  }
  
  .row {
    display: table-row;
    background: #f6f6f6;
  }
  .row:nth-of-type(odd) {
    background: #e9e9e9;
  }
  .row.header {
    font-weight: 900;
    color: #ffffff;
    background: #444444;
    /* background: #2980b9; */
  }
  .row.green {
    background: #27ae60;
  }
  .row.blue {
    background: #2980b9;
  }

  .btn-reset {
    background: #b3cb27;
  }

  @media screen and (max-width: 580px) {
    .row {
      padding: 14px 0 7px;
      display: block;
    }
    .row.header {
      padding: 0;
      height: 6px;
    }
    .row.header .cell {
      display: none;
    }
    .row .cell {
      margin-bottom: 10px;
    }
    .row .cell:before {
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 110px;
      font-size: 6px;
      line-height: 6px;
      font-weight: bold;
      text-transform: uppercase;
      color: #969696;
      display: block;
    }
  }
  
  .cell {
    padding: 6px 20px;
    display: table-cell;
  }
  @media screen and (max-width: 580px) {
    .cell {
      padding: 2px 16px;
      display: block;
    }
}

.text-align-center {
    text-align:center;
    width:100%
 }

/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    /* align-items: center; */
    height: 110px;
  }
  
  /* Add some margins for each label */
  .form-inline label {
    margin: 5px 10px 5px 0;
    /* clear: both; */
    /* float:left; */
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    /* background-color: #fff; */
    border: 1px solid #ddd;
  }
  
  /* Style the submit button */
  .form-inline .button-search {
    padding: 10px 20px 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    /* margin-top: 13px; */
  }
  
  .form-inline .button-search:hover {
    background-color: royalblue;
  }

  /* Style the submit button */
  .form-inline .button-reset {
    padding: 10px 20px 10px 20px;
    background-color: rgb(201, 191, 42);
    border: 1px solid #ddd;
    color: white;
    /* margin-top: 13px; */
  }
  
  .form-inline .button-reset:hover {
    background-color: rgb(130, 130, 56);
  }
  
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
      /* position: fixed; */
    }
  }

  .dropdown-select {
    width: 180px;
    padding-top: 4px;
  }

  .loader {
    position:fixed;
    left: 50%;
    top: 50%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .table-header-filter-message {
    color: #2980b9;
    font-size: 16px;
    font-weight: 500;
  }